<!--<div class="row clearfix">-->
  <div class="span4">
    <div class="staff-index">
      <%= render 'staffs/index_template' %>
    </div>
  </div>
  <div class="span8 staff-details">
    <div class="staff-details">

    </div>
  </div>
<!--</div>-->