<% unless @notes.count == 0 %>
  <table class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
      <th>
        Наименование
      </th>
      <th>
        Описание
      </th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @notes.each do |n| %>
      <tr class="active">
        <td>
          <%= n.name %>
        </td>
        <td>
          <%= n.description %>
        </td>
        <td>
          <a data-confirm="Вы действительно хотите удалить заметку?"
             data-method="delete"
             data-remote="true"
             href="/notes/<%= n.id %>"
             rel="nofollow"><img src="/assets/del.png"></a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h4>Нет заметок</h4>
<% end %>