<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <PRE style="font-size: 14px;">
      <%== @body %>
    </PRE>
  </body>
</html>