<div class="span4">
  <div class="contracts-index">
    <%= render 'contracts/index_template' %>
  </div>
</div>
<div class="span8 contract-form">
  <!--<div class="contract-details">-->

  <!--</div>-->
</div>