<div class="row-fluid">
  <div class="span4">
    <button type="button" class="btn btn-block btn-sm btn-primary">
      <a data-remote="true"
         href="/users/new"
         onclick=""
         class="cbtn btn-block btn-sm btn-primary">
        Новый пользователь</a>
      </button>
    <table class="table">
      <thead>
      <tr>
        <th>
          email
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |u| %>
        <tr class="active">
          <td>
            <a data-remote="true"
               href="/users/<%= u.id %>"
               onclick="" >
              <%= u.name %></a></td>
          <td>
            <a data-confirm="Вы действительно хотите удалить пользователя?" data-method="delete" href="/users/<%= u.id %>" rel="nofollow">
              <img src="/assets/del.png"></a>
          </td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
  <div class="span6 user-details">

  </div>
  <div class="span2">

  </div>
</div>

