<div class="span4 column post-dispatch-index-once">
  <%= render 'post_dispatches/index_once' %>
</div>
<div class="span4 column post-dispatch-form">
  <%= render 'post_dispatches/form' %>
</div>
<div class="span4 column post-dispatch-index-many">
  <%= render 'post_dispatches/index_many' %>
</div>
