<div class="span4 column events-calendar">
  <%= render 'events/calendar' %>
</div>
<div class="span4 column events-index">
  <%= render 'events/index' %>
</div>
<div class="span4 column accordion-form event-form"></div>


