<div class="span3 column">
  <div class="form-index">
    <%= render 'tours/form_index' %>
  </div>

  <hr>


</div>

<div class="span5 column">
  <div class="tour-form"></div>
</div>
<div class="span4 column accordion-form">
</div>